<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
  <appender class="ch.qos.logback.core.ConsoleAppender" name="message">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %5p %c - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="com.mangofactory" level="debug" />
  <logger name="com.wordnik" level="debug" />
  <logger name="org.springframework" level="debug" />
  <logger name="org.springframework.beans" level="debug" />
  <root level="debug">
    <appender-ref ref="message" />
  </root>
</configuration>
